@import 'scales';
@import 'typography';

$bg-color: #f7f7f7;

$header-bg-color: #c83c3c;
$header-box-bg-color: #d75050;
$header-box-border-color: #c2182d;

$dropdown-mains-color: #9b0014;

$meal-border-color: #e8e8e8;

$price-bg-color: #446bf1;
$price-color: #fff;

$meal-name-bg-color: rgba(230,230,230,0.9);

$text-color: #777777;

$add-to-order-bg-color: #446bf1;
$add-to-order-border-color: #6081f3;

$options-available-color: #c2c2c2;

body {
    font-family: $type__family--base;
    margin: 0;
}


h4{
    margin: 0px;
}

#restaurant-name{
    padding:20px 20px 0px;
}


.container{
    position: relative;
    width: 320px;

    background-color: $bg-color;
    color: $text-color;

}


.dropdown-menu{
    position: fixed;

    height: 34px;
    width: 278px;

    padding: 10px 21px 10px;

    z-index: 1;

    background-color: $header-bg-color;
}


.header-box,
.total-basket-mains,
.total-basket-price{
    display: inline;

    height: 20px;

    padding-top: 8px;

    background-color: $header-box-bg-color;
    border: 1px solid $header-box-border-color;
    border-radius: 2px;
}

.header-box{
    width: 276px;

    color: white;

    text-align: center;
    position: absolute;
}


.total-basket-mains{
    float:left;

    width: 59px;

    color: $dropdown-mains-color;
    font-size: 12px;
    font-style: italic;

    text-align: center;
}


.total-basket-price{
    float: right;

    width: 56px;

    color: white;
    font-size: 12px;

    text-align: center;
}


#basket-spacer{
    height: 54px;
}


.meals {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}


.meal {
    position: relative;

    margin: 0px 20px 22px;

    padding-bottom: 4px;

    border: 1px solid $meal-border-color;
    border-radius: 2px;

    background-color: white;
}


.img-box{
    position:relative;
}


.image{
    height: 210px;
    object-fit: cover;
    width: 100%;
}


.price::before {
    content: "£";
}
.price {
    position: absolute;

    left: 0px;
    right: 0px;

    width: 67px;
    height: 23px;

    margin:0px auto;

    padding-top: 5px;

    border-radius: 0 0 1px 1px;

    background-color: $price-bg-color;
    color: $price-color;

    font-style: italic;
    text-align: center;
}


.name-thing::before,
.name-thing::after{
    position: relative;
    left: -4px;

            clip-path: inset(0px 2px 0px 4px);
    -webkit-clip-path: inset(0px 2px 0px 4px);

}
.name-thing::before{
    content: url("../images/meal-card__curve_grey.svg");
    opacity:0.9;
}

.name-thing::after{
    content: url("../images/meal-card__curve.svg");
}


.name-thing{
    position:absolute;
    bottom:0px;
    width:278px;

    text-align: center;
}


.name{

    background-color:$meal-name-bg-color;

    margin-top:-4px;
    margin-bottom:-7px;

    padding-bottom:21px;
}


.description-box{
    margin: 0px 22px 0px;
}


.description{
    margin-top: 0px;
    margin-bottom: 6px;
}


.add-to-order{
    width: 239px;
    height: 21px;

    padding-top: 8px;

    margin: auto;

    color: white;

    background-color:$add-to-order-bg-color;
    border: 1px solid $add-to-order-border-color;
    border-radius: 2px;

    text-align: center;
    font-style: italic;

    cursor: pointer;
}


.options-available{
    font-size: 10px;
    color: $options-available-color;
}


.tags{
    position: absolute;

    bottom: 3px;

    width: 100%;

    list-style-type:none;
    margin:auto;
    padding:0px;
    text-align:center;

}

.tags li {
    display:inline;
}
