<div id="app-header">

<!-- Basket contents div -->
<div id="basket-contents">
    Your Order <br>
    A Delicious Restaurant <br>

    {{basket.length}} main <br>

    <ul>
      <li ng-repeat="item in basket">
	{{item.name}} - {{item.quantity}} <span ng-click="add_to_basket(item.id)">[+]</span> <span ng-click="remove_from_basket(item.id)">[-]</span>
      </li>
    </ul>
</div>


<div id="dropdown-menu">
  <!-- Normal div display thingy -->
  <div id="order-some-food-box" class="dropdown-button sub" ng-if="basket.length == 0">
    It's time to order some delicious food
  </div>

  <div ng-if="basket.length > 0">
    <div id="total-basket-mains" class="dropdown-button sub" >
      {{ basket.length }} mains
    </div>

    <div id="total-basket-price" class="dropdown-button sub" ng-click="toggle_basket_display()">
      {{total_price | currency: "£"}}
    </div>
  </div>
</div>

</div>

<div id="basket-spacer"></div>

<h4 id="restaurant-name">Your Delicious Restaurant</h4>

<ul class="meals">
  <li class="meal" ng-repeat="meal in menu.meals">

    <div class="img-box">
      <p class="price">{{meal.price}}</p>
      <img class="image" ng-src="{{meal.primaryImageUrl}}">

      <div class="name-thing">
	<h4 class="name">{{meal.name}}</h4>
      </div>

    <ul class="tags">
      <li ng-repeat="tag in meal.tags | is_tag">
	<img ng-src="images/tag--{{tag}}.svg">
      </li>
    </ul>
    </div>

    <div class="description-box">
      <p class="description">{{meal.description}}</p>

      <div class="add-to-order" ng-click="add_to_basket(meal.id)">
	Add To Your Order
      </div>

      <span class="options-available">
	3 options available
      </span>
    </div>
  </li>
</ul>
