<div class="dropdown-menu">
  <div class="header-box .sub" ng-if="basket.length == 0">
    It's time to order some delicious food
  </div>

  <div ng-if="basket.length > 0">

    <div class="total-basket-mains .sub" >
      {{ basket.length }} mains
    </div>

    <div class="total-basket-price .sub" >
      {{total_price | currency: "£"}}
    </div>
  </div>
</div>

<div id="basket-spacer"></div>

<h4 id="restaurant-name">Your Delicious Restaurant</h4>

<ul class="meals">
  <li class="meal" ng-repeat="meal in menu.meals">

    <div class="img-box">
      <p class="price">{{meal.price}}</p>
      <img class="image" ng-src="{{meal.primaryImageUrl}}">

      <div class="name-thing">
        <h4 class="name">{{meal.name}}</h4>
      </div>

    <ul class="tags">
      <li ng-repeat="tag in meal.tags | is_tag">
	<img ng-src="images/tag--{{tag}}.svg">
      </li>
    </ul>
    </div>

    <div class="description-box">
      <p class="description">{{meal.description}}</p>

      <a href="" ng-click="add_to_basket(meal.id)">
	<div class="add-to-order">
	  Add To Your Order
	</div>
      </a>

      <span class="options-available">
	3 options available
      </span>
    </div>
  </li>
</ul>
